* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: rgba(175, 47, 47, 0.15);
    --light: white;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
}
h1 {
    font-size: 100px;
    color: var(--main-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}
.fas {
    pointer-events: none;
}
.todo {
    width: 800px;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
    text-align: center;
    background-color: #d9cccc;
}
.todo-input {
    width: 80%;
    padding: 30px 40px;
    margin-right: 20px;
    font-size: 30px;
    border: none;
    color: var(--main-color);
    background-color:var(--light);
}
.todolist {
    padding: 20px 0;  
}
.todolist li {
    position: relative;
    align-items: center;
    width: 80%;
    padding: 30px 40px;
    margin-left: 70px;
    margin-right: 20px;
    font-size: 30px;
    text-align: center;
    list-style: none;
    background-color: var(--light);
}
.circle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid;
    border-color: var(--main-color);
}
.tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tools button {
    padding: 15px 10px;
    background-color: var(--light);
    border: none;
    cursor: pointer;
}
.complete {
    font-size: 1.2rem;
    color: var(--main-color);
}
.delete {
    font-size: 0rem;
    color: var(--main-color);
}
li:hover .delete{
    font-size: 1.2rem;
}
.editInfo {
    color: var(--main-color);
}
.complited {
    font-size: 1rem;
    color: #d9d9d9;
    text-decoration: line-through;
}
